*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  width:100%;
  height:100%;
  overflow:hidden;
}

body{
  background:
    radial-gradient(circle,#3a1733,#100610 60%,#020103);

  color:white;

  font-family:
    Georgia,
    serif;
}

.stars{
  position:fixed;
  inset:0;

  background-image:
    radial-gradient(#fff 1px,transparent 1px),
    radial-gradient(#ffb8dc 1px,transparent 1px);

  background-size:80px 80px,130px 130px;

  opacity:.3;
}

main{
  position:relative;

  z-index:5;

  height:100%;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  text-align:center;
}

.smallTitle{
  color:#ff9ec9;
  font-size:10px;
  letter-spacing:5px;
  margin-bottom:15px;
}

h1{
  font-size:clamp(45px,13vw,75px);
  font-weight:400;

  text-shadow:
    0 0 20px #ff4ca5;
}

.sub{
  color:#dcb6ca;
  font-size:13px;
  margin:10px 0 30px;
}


/* CARD */

.card{
  position:relative;

  width:min(85vw,350px);
  height:420px;

  transform-style:preserve-3d;

  transition:
    transform 1.1s
    cubic-bezier(.2,.8,.2,1);
}

.card.open{
  transform:rotateY(180deg);
}

.front,
.inside{
  position:absolute;
  inset:0;

  padding:35px;

  border-radius:25px;

  backface-visibility:hidden;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  text-align:center;

  background:
    linear-gradient(145deg,#5b1b45,#1d0919);

  border:1px solid rgba(255,170,215,.4);

  box-shadow:
    0 25px 60px rgba(0,0,0,.6),
    inset 0 0 40px rgba(255,70,160,.08);
}

.inside{
  transform:rotateY(180deg);
}

.heart{
  font-size:75px;

  filter:
    drop-shadow(0 0 20px #ff4ca5);

  animation:beat 1.2s infinite;
}

@keyframes beat{
  50%{transform:scale(1.12)}
}

.front span,
.inside span{
  color:#ffaccd;
  font-size:10px;
  letter-spacing:5px;
  margin:15px 0;
}

h2{
  font-size:34px;
  font-weight:400;
}

.front p,
.inside p{
  color:#dcb8ca;
  font-size:13px;
  line-height:1.7;
  margin:15px 0 25px;
}

button{
  padding:13px 24px;

  border:1px solid #ff8fc2;
  border-radius:30px;

  background:transparent;

  color:#ffd6e8;

  letter-spacing:2px;

  cursor:pointer;
}

button:hover{
  background:#ff5ca8;
  box-shadow:0 0 30px #ff5ca8;
}

.line{
  width:50px;
  height:1px;

  background:#ff8cbd;

  margin:18px;
}

.inside strong{
  color:#ffb3d4;
  font-size:17px;
}

.inside small{
  margin-top:20px;
  color:#b9819d;
  font-style:italic;
}

.sparkle{
  position:absolute;
  top:30px;
  right:30px;
  color:#ffd5e8;
  font-size:25px;
}

#hearts{
  position:fixed;
  inset:0;
  pointer-events:none;
}

.floatHeart{
  position:absolute;
  bottom:-30px;

  animation:
    float 7s linear forwards;
}

@keyframes float{
  to{
    transform:
      translateY(-110vh)
      rotate(360deg);

    opacity:0;
  }
}